@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Typography */
        --font-sans: 'Poppins', ui-sans-serif, sans-serif, system-ui;
        --font-serif: 'Lora', ui-serif, serif;
        --font-mono: 'JetBrains Mono', ui-monospace, monospace;

        /* Colors - Light Mode */
        --background: #fdfbf7;
        --foreground: #4a3b33;

        --card: #fdfbf7;
        --card-foreground: #4a3b33;

        --popover: #fdfbf7;
        --popover-foreground: #4a3b33;

        --primary: #b45309;
        --primary-foreground: #ffffff;

        --secondary: #e4c090;
        --secondary-foreground: #4a3b33;

        --muted: #f1e9da;
        --muted-foreground: #4a3b33;

        --accent: #b45309;
        --accent-foreground: #ffffff;

        --destructive: #991b1b;
        --destructive-foreground: #ffffff;

        --border: #e4d9bc;
        --input: #e4d9bc;
        --ring: #b45309;

        --radius: 0.3rem;
    }

    .dark {
        /* Colors - Dark Mode */
        --background: #1c1917;
        --foreground: #f5f5f4;

        --card: #1c1917;
        --card-foreground: #f5f5f4;

        --popover: #1c1917;
        --popover-foreground: #f5f5f4;

        --primary: #f97316;
        --primary-foreground: #ffffff;

        --secondary: #57534e;
        --secondary-foreground: #f5f5f4;

        --muted: #201d1a;
        --muted-foreground: #aaaaaa;

        --accent: #f97316;
        --accent-foreground: #ffffff;

        --destructive: #dc2626;
        --destructive-foreground: #ffffff;

        --border: #44403c;
        --input: #44403c;
        --ring: #f97316;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground transition-colors duration-300;
    }
}